name: Conan Build NuBlox2

on:
  workflow_call:
    inputs:
      platform:
        required: false
        default: 'ubuntu-24.04'
        type: string
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: string
      malloc-impl:
        required: true
        type: string
      prerelease:
        required: false
        type: string
        default: 'False'
      tooling:
        required: false
        type: string
        default: 'None'
      testing:
        required: false
        type: string
        default: 'False'
  workflow_dispatch:
    inputs:
      platform:
        required: true
        type: choice
        options:
          - ubuntu-24.04
        default: 'ubuntu-24.04'
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
      malloc-impl:
        description: 'Allocation Library'
        required: true
        type: choice
        options:
          - libc
          - tcmalloc
          - jemalloc
      prerelease:
        description: 'Fault Instrumentation'
        required: false
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'False'
      tooling:
        required: false
        type: choice
          - 'Sanitize'
          - 'Coverage'
          - 'None'
        default: 'None'
      testing:
        description: 'Build and Run'
        required: true
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'True'

jobs:
  BuildSislDeps:
    runs-on: ${{ inputs.platform }}
    steps:
    - name: Retrieve Code
      uses: actions/checkout@main
      with:
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'True' }}

    - name: Retrieve Recipe
      uses: actions/checkout@main
      with:
        repository: eBay/sisl
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'False' }}

        #    - name: Load Conan Cache
        #      id: restore-cache
        #      uses: eBay/sisl/.github/actions/load_conan@master
        #      with:
        #        testing: ${{ inputs.testing }}
        #        key_prefix: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}

    - name: Setup Conan
      uses: eBay/sisl/.github/actions/setup_conan2@dev/nublox2
      with:
        platform: ${{ inputs.platform }}
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Prepare Recipes
      run: |
        ./prepare_v2.sh
        #        cached_pkgs=$(ls -1d ~/.conan/data/*/*/*/*/export 2>/dev/null | sed 's,.*data/,,' | cut -d'/' -f1,2 | paste -sd',' - -)
        #        echo "::info:: Pre-cached: ${cached_pkgs}"
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Build Cache
      run: |
        conan install \
            -o sisl/*:prerelease=${{ inputs.prerelease }} \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -s:h build_type=${{ inputs.build-type }} \
            --build missing \
            .
      if: ${{ steps.restore-cache.outputs.cache-hit != 'true' }}

        #    - name: Save Conan Cache
        #      uses: eBay/sisl/.github/actions/store_conan@master
        #      with:
        #        key_prefix: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}
        #      if: ${{ github.event_name != 'pull_request' && steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Create and Test Package
      run: |
        sanitize=$([[ "${{ inputs.tooling }}" == "Sanitize" ]] && echo "True" || echo "False")
        conan create \
            -o sisl/*:prerelease=${{ inputs.prerelease }} \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o sisl/*:sanitize=${sanitize} \
            -s:h build_type=${{ inputs.build-type }} \
            --build missing \
            .
      if: ${{ inputs.testing == 'True' && inputs.tooling != 'Coverage' }}

    - name: Code Coverage Run
      run: |
        conan install \
            -o sisl/*:prerelease=${{ inputs.prerelease }} \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o sisl/*:coverage=True \
            -s:h build_type=${{ inputs.build-type }} \
            --build missing \
            .
        conan build .
      if: ${{ inputs.testing == 'True' && inputs.tooling == 'Coverage' }}

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        gcov: true
      if: ${{ inputs.testing == 'True' && inputs.tooling == 'Coverage' }}
