name: Sisl Merge Build

on:
  workflow_dispatch:
  push:
    branches:
      - stable/v8.x
      - master

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        build-type: ["Debug", "Release"]
        malloc-impl: ["libc", "tcmalloc", "jemalloc"]
        prerelease: ["True", "False"]
        exclude:
          - build-type: Debug
            malloc-impl: tcmalloc
          - build-type: Debug
            malloc-impl: jemalloc
          - build-type: Release
            malloc-impl: libc
    uses: ./.github/workflows/build_dependencies.yml
    with:
      branch: ${{ github.ref }}
      build-type: ${{ matrix.build-type }}
      malloc-impl: ${{ matrix.malloc-impl }}
      prerelease: ${{ matrix.prerelease }}
      testing: 'True'
